In [1]:
import xlrd

In [3]:
workbook_path = "test.xlsx"
wb = xlrd.open_workbook(filename=workbook_path)
wb

In [7]:
sheet1 = wb.sheet_by_index(0)
test_sh=wb.sheet_by_name("Sheet1")
sheet1

In [6]:
test_sh

In [9]:
sheet1_name_rows = sheet1.row_values(0)
sheet1_name_rows

['id', 'score']

In [10]:
type(sheet1_name_rows)

list

In [11]:
sheet1_name_rows[1]

'score'

In [13]:
!python -m pip install xlwt -i https://pypi.tuna.tsinghua.edu.cn/simple

Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simple
Collecting xlwt
  Downloading https://pypi.tuna.tsinghua.edu.cn/packages/44/48/def306413b25c3d01753603b1a222a011b8621aed27cd7f89cbc27e6b0f4/xlwt-1.3.0-py2.py3-none-any.whl (99 kB)
Installing collected packages: xlwt
Successfully installed xlwt-1.3.0

In [14]:
import xlwt
wbk = xlwt.Workbook()
sheet = wbk.add_sheet('sheet 1')
sheet.write(0,1,'test text')#第0行第一列写入内容
wbk.save('test_xlwt.xls')

In [15]:
!python -m pip install xlutils -i https://pypi.tuna.tsinghua.edu.cn/simple

Looking in indexes: https://pypi.tuna.tsinghua.edu.cn/simple
Collecting xlutils
  Downloading https://pypi.tuna.tsinghua.edu.cn/packages/c7/55/e22ac73dbb316cabb5db28bef6c87044a95914f713a6e81b593f8a0d2f79/xlutils-2.0.0-py2.py3-none-any.whl (55 kB)
Requirement already satisfied: xlrd>=0.7.2 in c:\users\43587\desktop\code\bz-python-teaching\venv\lib\site-packages (from xlutils) (1.2.0)
Requirement already satisfied: xlwt>=0.7.4 in c:\users\43587\desktop\code\bz-python-teaching\venv\lib\site-packages (from xlutils) (1.3.0)
Installing collected packages: xlutils
Successfully installed xlutils-2.0.0

In [16]:
#font = xlutils.font("宋体")
#font.size

#cell.style(font=font)

#bc = xlutils.bc("red")

In [17]:
import openpyxl

In [18]:
wb_open = openpyxl.load_workbook(filename=workbook_path)

In [19]:
sheet2_open = wb_open.get_sheet_by_name("Sheet2")

c:\Users\43587\Desktop\code\BZ-python-teaching\venv\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated function get_sheet_by_name (Use wb[sheetname]).
  """Entry point for launching an IPython kernel.

In [20]:
sheet2_open

In [23]:
sheet2_open.cell(row=1,column=1).value

'id'

In [25]:
sheet2_open.cell(row=1,column=3).value = "height"
sheet2_open.cell(row=1,column=3).fill = sheet2_open.cell(row=1,column=1).fill.copy()

c:\Users\43587\Desktop\code\BZ-python-teaching\venv\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: Call to deprecated function copy (Use copy(obj) or cell.obj = cell.obj + other).

In [29]:
wb_open.save("test_open.xlsx")

In [30]:
import pandas

In [31]:
sheet1_pandas = pandas.read_excel(io=workbook_path,sheet_name="Sheet1")
sheet1_pandas

   id  score
0   1     25
1   2     33
2   3     10
3   4     26
4   5     99
5   9     54

In [34]:
sheet1_pandas = sheet1_pandas.set_index(keys="id")
sheet1_pandas

    score
id
1      25
2      33
3      10
4      26
5      99
9      54

In [38]:
sheet2_pandas = pandas.read_excel(io=workbook_path,sheet_name="Sheet2")
sheet2_pandas = sheet2_pandas.set_index(keys="id")
sheet2_pandas

        weight
id
1    63.566368
2    54.806447
3    73.774975
8   127.631090
50   88.227152

In [39]:
sheet1_join = sheet1_pandas.join(other=sheet2_pandas)
sheet1_join

    score     weight
id
1      25  63.566368
2      33  54.806447
3      10  73.774975
4      26        NaN
5      99        NaN
9      54        NaN

In [40]:
sheet2_join = sheet2_pandas.join(other=sheet1_pandas)
sheet2_join

        weight  score
id
1    63.566368   25.0
2    54.806447   33.0
3    73.774975   10.0
8   127.631090    NaN
50   88.227152    NaN

In [42]:
sheet_left_merge = pandas.merge(left=sheet1_pandas,right=sheet2_pandas,on="id",how="left")
sheet_left_merge

    score     weight
id
1      25  63.566368
2      33  54.806447
3      10  73.774975
4      26        NaN
5      99        NaN
9      54        NaN

In [43]:
sheet_right_merge = pandas.merge(left=sheet1_pandas,right=sheet2_pandas,on="id",how="right")
sheet_right_merge

    score      weight
id
1    25.0   63.566368
2    33.0   54.806447
3    10.0   73.774975
8     NaN  127.631090
50    NaN   88.227152

In [44]:
sheet_merge = pandas.merge(left=sheet1_pandas,right=sheet2_pandas,on="id")
sheet_merge

    score     weight
id
1      25  63.566368
2      33  54.806447
3      10  73.774975

In [45]:
sheet_inner_merge = pandas.merge(left=sheet1_pandas,right=sheet2_pandas,on="id",how="inner")
sheet_inner_merge

    score     weight
id
1      25  63.566368
2      33  54.806447
3      10  73.774975

In [46]:
sheet_outer_merge = pandas.merge(left=sheet1_pandas,right=sheet2_pandas,on="id",how="outer")
sheet_outer_merge

    score      weight
id
1    25.0   63.566368
2    33.0   54.806447
3    10.0   73.774975
4    26.0         NaN
5    99.0         NaN
9    54.0         NaN
8     NaN  127.631090
50    NaN   88.227152

In [47]:
# pandas的保存以sheet为单位，而且会覆盖原文件，所以建议另存为别的文件名进行保存
# with pd.ExcelWriter(path=excel_path) as writer:
#    test_xl.to_excel(excel_writer=writer,sheet_name="Sheet1")
#    test_xl1.to_excel(excel_writer=writer,sheet_name="Sheet2")
#    test_merge4.to_excel(excel_writer=writer,sheet_name="Sheet3")

In [48]:
with pandas.ExcelWriter(path="test_open_merge.xlsx") as writer:
    sheet_outer_merge.to_excel(excel_writer=writer)
print("had close.")

had close.